[user]
	name = Tjark Saul
	email = tjark.saul@wachplan.net
[core]
	autocrlf = input
	pager = less -R
	editor = subl -n -w
[push]
	default = current
[alias]
        look = log --graph --pretty=format:'%Cred %h : %Creset%s %Cgreen(%cr) %C(blue)<%an>%C(yellow)%d %Creset' --date=relative
        tagcommit = !sh -c 'git rev-list $0 | head -n 1'
